<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated e3value -->
      <package
            uri="http://www.kybele.es/elastic/models/e3value/1.0"
            class="e3value.E3valuePackage"
            genModel="model/e3value.genmodel"/>
   </extension>

</plugin>
